<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Películas</title>
    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1>LISTADO DE PELÍCULAS</h1>
    <br>
    <p>
        <a class="botonAgregar" href="/movies/add">Agregar una Pelicula</a>
        <a class="botonVolver" href="/">inicio</a>

    </p>
    <br>

    <form action="/resultado" method="GET">
        <label for="search">Buscar:</label>
        <input type="search" id="search" name="q" placeholder="Ingrese término de búsqueda">
        <button type="submit">Buscar</button>
      </form>
    <ul>
        <% for( let i = 0; i < movies.length; i++ ) { %>
        <li>
            <a href="/movies/detail/<%= movies[i].id %>"><%= movies[i].title %></a>
        </li>
        <% } %>

        <% for( let i = 0; i < apiMovies.length; i++ ) { %>
            <li>
                <a href="/movies/detail/<%= apiMovies[i].id %>"><%= apiMovies[i].title %></a>
            </li>
            <% } %>

    </ul>
</body>

</html>